<div class="s-header">
  {% if page.url != "/index.html" %}
    <button
      class="c-iconbtn"
      id="s-header-webinfo"
      spec="standard">info</button>
  {% endif %}
  {% assign photograph = page.impression | default: site.impression %}
  <div id="s-header-hero-container" style="background-image: url('{{ photograph }}');">
    {% if include.spec_page_index == "true" %}
      <span id="s-header-hero-headline">欢迎来到 {{ site.title }}</span>
      {% if site.description and site.description != "" %}
        <span id="s-header-hero-subtitle">{{ site.description }}</span>
      {% endif %}
    {% else %}
      <span id="s-header-hero-headline">{{ page.title | default: site.title }}</span>
      {% if page.description and page.description != "" %}
        <span id="s-header-hero-subtitle">{{ page.description }}</span>
      {% endif %}
    {% endif %}
  </div>
</div>