<div class="c-navigation" spec="rail">
  <div id="c-navigation-fab">
    <button
      class="c-fab"
      spec="surface"
      size="normal">search</button>
  </div>
  <div id="c-navigation-destinations">
    <a href="/">
      <div class="c-navigation-segment-inactive">
        <div class="c-navigation-destination-accent">
          <div class="c-navigation-segment-icon">
            <!-- https://fonts.google.com/icons?selected=Material+Icons&icon.set=Material+Symbols -->
            <span>home</span>
          </div>
        </div>
        <p class="c-navigation-destination-label">首页</p>
      </div>
    </a>

    <div class="c-navigation-segment-inactive">
      <div class="c-navigation-destination-accent">
        <div class="c-navigation-segment-icon">
          <span>article</span>
        </div>
      </div>
      <p class="c-navigation-destination-label">文章目录</p>
    </div>

    {% for s in site.pages %}
      {% if s.navigation and s.published == true %}
        <a href="{{ s.url | remove: '.html' }}">
          <div class="c-navigation-segment-inactive">
            <div class="c-navigation-destination-accent">
              <div class="c-navigation-segment-icon">
                <span>{{ s.segment_icon }}</span>
              </div>
            </div>
            <p class="c-navigation-destination-label">{{ s.segment_title }}</p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div id="c-navigation-drawer" show>
    <button class="c-iconbtn" id="c-navigation-drawer-close">menu_open</button>
    {% capture toc_content %}{% toc %}{% endcapture %}
    <div id="c-navigation-drawer-container">
      {% if toc_content != "" and page.toc %}
        {{ toc_content }}
      {% else %}
        {% for item in site.posts %}
          <details>
            <summary>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </summary>
          </details>
        {% endfor %}
      {% endif %}
    </div>
    <a id="c-navigation-drawer-backward" href="/posts">
      <button
        class="c-button"
        spec="text"
        icon>
        <span>west</span>
        查看全部文章
      </button>
    </a>
  </div>
</div>
<div class="c-appbar">
  <button class="c-iconbtn" id="c-appbar-menu">menu</button>
  <div id="c-appbar-dynamic-title">
    <span>{{ site.title }}</span>
    <span>{{ page.title | default: site.title }}</span>
  </div>
  <button class="c-iconbtn" id="c-appbar-search">search</button>
</div>
<dialog class="c-dialog">
  <div id="c-dialog-layout">
    <div id="c-dialog-content">
      <span id="c-dialog-leader-icon">help</span>
      <div id="c-dialog-headline">
        <h3>{{ page.title | default: site.title }}</h3>
        {% if page.description and page.description != "" %}
          <p>{{ page.description }}</p>
        {% endif %}
      </div>
      <div id="c-dialog-supporting-list">
        {% if page.date %}
          <div class="c-dialog-tip-items">
            <button
              class="c-iconbtn"
              spec="standard"
              disabled>calendar_month</button>
            <p>发布于：{{ page.date | date: "%Y年%-m月%-d日" }}</p>
          </div>
        {% endif %}
        {% assign page_words = page.content | number_of_words: "auto" %} {% assign read_estimate = page_words | divided_by: 120 %}
        <div class="c-dialog-tip-items">
          <button
            class="c-iconbtn"
            spec="standard"
            disabled>schedule</button>
          <p>估计阅读时间：{% if read_estimate > 0 %}
              {{ read_estimate }}
            {% else %}
              少于 1
            {% endif %}分钟</p>
        </div>
        {% if page.author %}
          <div class="c-dialog-tip-items">
            <button
              class="c-iconbtn"
              spec="standard"
              disabled>person</button>
            <p>作者：{{ page.author }}</p>
          </div>
        {% endif %}
        {% if page.categories.size > 0 %}
          <div class="c-dialog-tip-items">
            <button
              class="c-iconbtn"
              spec="standard"
              disabled>category</button>
            <p>分类：{{ page.categories }}</p>
          </div>
        {% endif %}
        {% if page.color and page.color != "" %}
          <div class="c-dialog-tip-items">
            <button
              class="c-iconbtn"
              spec="standard"
              disabled>palette</button>
            <p>主题颜色：{{ page.color }}</p>
          </div>
        {% endif %}
      </div>
    </div>
    <div id="c-dialog-button">
      <button
        class="c-button"
        spec="text"
        id="dialog-close">关闭</button>
    </div>
  </div>
</dialog>